body{
    font-family: Arial, Times;
}

table, th, td {
  border:1px solid black;
  resize: vertical;
  object-fit: contain;

}
table{
  width:69%;
  height:100%;
  float:right;
  margin:auto;
}

#tableDiv{
  height:100%;
  resize: vertical;
}

#stickyTop{
  color: orange;
  position: sticky;
  top: 0;
  background-color: black;
  margin-top: 0px;
  padding-top: 0px;
}

#a787{
  width: 100%;
}

#a737{
  width: 50%;
  margin: auto;
  display: block;
}

#mainBody{
  width:30%;
  font-size: 30px;
  border: 1px solid black;
  margin-top: 0;
  float:left;
}
#torefresh{
  display: block;
  float:left;
  padding-top:50px;
}
